* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.content-wrapper {
  padding: 0 2rem 1rem 2rem;
  margin: 5rem;
  border: 0.08rem solid #d8d8d8;
  border-radius: 1rem;
}

.content-wrapper .list {
  list-style: none;
  padding-left: 0;
}

.pagination-list {
  list-style: none;
  padding-left: 0;
}

.pagination-item {
  display: inline;
  border: 0.08rem solid gray;
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

.pagination-item:nth-child(1) {
  margin-left: 0;
}
